<ion-header>
  <ion-toolbar>
    <ion-title>Watch List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="watch-list" *ngFor="let item of watchList">
      <span>
        <span class="title-1">{{ item.title }}</span>
        <span class="title-2">{{ item.subTitle }}</span>
      </span>
      <span slot="end" class="rank-wrap" [class.success]="item.rank1.isRise">{{item.rank1.value}}
        <span class="rank">{{ item.rank1.isRise ? '+' : '-' }} {{item.rank1.percentage}}</span>
      </span>
      <span slot="end" class="rank-wrap" [class.success]="item.rank2.isRise">{{item.rank2.value}}
        <span class="rank">{{ item.rank2.isRise ? '+' : '-' }} {{item.rank2.percentage}}</span>
      </span>
    </ion-item>
  </ion-list>
</ion-content>
